.main {
  background-color: #555;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  height: 95vh;
  justify-content: space-around;
  margin: 2rem;
}

.wrapper {
  background-color: #eee;
  padding: 1rem;
}

.editor {
  height: 100%;
  width: 100%;
}

.output {
  background-color: #eee;
  height: 100%;
  padding: 1rem;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

